<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label for="a">A</label>
			<input type="text" id="a" class="form-control" ng-model="a" />
		</div>

	</div>
		
	<div class="col-md-4">
		<div class="form-group">
			<label for="b">B</label>
			<input type="text" id="b" class="form-control" ng-model="b" />
		</div>
	</div>
	<div class="visible-md-block visible-lg-block col-md-1" style="font-size: 55px;">
		=
	</div>
	<div class="col-md-3">
		<div class="from-group">
			<label for="add">Add</label>
			<button type="button" id="add" ng-click="add()" class="form-control">Add</button>
		</div>
	</div>
<!-- 	<div class="col-md-4">
		<div class="form-group">
			<label for="result">Result : </label>
			<input type="text" id="c" class="form-control" ng-model="result" />
		</div>
	</div> -->
</div>